.header {
min-height: 600px;
max-height: 700px;

}

.logo {
width: 228px;
height: 32px;
}

.logo_place_header {
margin-top: 32px;
margin-left: 64px;
}

.title {

}

.subtitle {

}

.link {

}

.main-illustration {

}

.square-pic {

}