.header__main-illustration {
    width: 702px;                /* 765px */
    height: 508px;               /* 608px */
    position: absolute;
    left: 600px;                 /* 530px */
    top: 145px;                   /* 44px */
  }